<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="resgrid.cordova.plugins.uservoice"
    version="1.1.0">

    <name>UserVoice</name>

    <description>
      This plugin adds the UserVoice user engagement interface to your application. Currently supports iOS and Android. This plugin was created by Resgrid for use in our Ionic applications. You need to subscribe to the UserVoice service to use the plugin.
    </description>

    <license>Apache 2.0</license>

    <keywords>resgrid, uservoice, user, voice, engagement, customer, helpdesk, knowledge, base, reporting</keywords>

    <engines>
        <engine name="cordova" version=">=3.3.0" />
    </engines>

    <!-- JavaScript interface -->
    <js-module src="www/uservoice.js" name="UserVoiceJSInterface">
        <clobbers target="window.Uservoice" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVUserVoice">
                <param name="ios-package" value="CDVUserVoice" />
            </feature>
            <plugin name="CDVUserVoice" value="CDVUserVoice"/>
        </config-file>

        <header-file src="src/ios/CDVUserVoice.h" />
        <source-file src="src/ios/CDVUserVoice.m" />

        <!--<framework src="src/ios/UserVoiceSDK/libUserVoice.a" custom="true" /> -->
        <source-file src="src/ios/UserVoiceSDK/libUserVoice.a" framework="true" />
        <header-file src="src/ios/UserVoiceSDK/UVHeaders/UserVoice.h" />
        <header-file src="src/ios/UserVoiceSDK/UVHeaders/UVConfig.h" />
        <header-file src="src/ios/UserVoiceSDK/UVHeaders/UVDelegate.h" />
        <header-file src="src/ios/UserVoiceSDK/UVHeaders/UVStyleSheet.h" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CDVUserVoice">
                <param name="android-package" value="resgrid.cordova.plugins.uservoice" />
            </feature>
        </config-file>

        <!-- copy Rollbar Lib -->
        <source-file src="src/android/okhttp/okhttp-2.7.5.jar" target-dir="libs/" framework="true" />
        <source-file src="src/android/Apache/apache-httpcomponents-httpcore.jar" target-dir="libs/" framework="true" />
        <source-file src="src/android/Apache/apache-httpcomponents-httpclient.jar" target-dir="libs/" framework="true" />
        <source-file src="src/android/SignPost/signpost-core-1.2.1.2.jar" target-dir="libs/" framework="true" />
        <source-file src="src/android/SignPost/signpost-commonshttp4-1.2.1.2.jar" target-dir="libs/" framework="true" />
        <source-file src="src/android/UserVoiceSDK/uservoice-android-sdk-1.2.5-sources.jar" target-dir="libs/" framework="true" />

        <!-- cordova plugin src files -->
        <source-file src="src/android/ninozivan/cordova/plugins/CDVUserVoice.java" target-dir="src/ninozivan/cordova/plugins/" />

    </platform>

</plugin>

